<!--
    リスト表示画面
-->
<ons-page ons-show="updateToolbar('ぱぴこVR'); ng-infinite-scroll="loadMore">

<!--
<ons-page ons-show="updateToolbar('ぱぴこVR'); !isAndroid() && focusInput('ios')" ng-infinite-scroll="loadMore">
-->

<!--
  <ons-if class="search-bar" platform="ios other">
    <form ng-submit="search(true); blurInput('ios')">
      <ons-input type="search" class="search-input" input-id="ios-search-input" placeholder="Search for videos in YouTube" ng-model="query"></ons-input>
    </form>
  </ons-if>
-->

  <div class="content">

    <div>LLV：{{LLVSpaceTitle}}</div>

<ons-list>
    
    <ons-navigator var="myNavigator">
<!--
        <ons-list-item tappable ng-repeat="LLV in LLVSpace" ng-click="viewVR( LLV )">
-->
        <ons-list-item ng-repeat="LLV in LLVSpace" ng-click="viewVR( LLV )">

        <div class="left">
            <img  class="thumbnail" ng-src="{{ LLV.imageURL }}">
        </div>
        <div class="center">
          <div class="title">
            {{ LLV.LLVname }}
          </div>
          <div class="user">
            <ons-icon icon="fa-user"></ons-icon>
            <span style="font-size: 12px"> {{ LLV.author ? LLV.author : "Anonymous" }}</span>
          </div>
          <div class="desc">
            {{ LLV.discription }}
          </div>
        </div>
        </ons-list-item>

    </ons-navigator>
    
</ons-list>


    <p class="after-list">
      <span ng-show="results.length === 0 && !loading">{{ labelSearch }}</span>
      <span ng-show="loading"><ons-icon icon="fa-spinner" size="26px" spin></ons-icon></span>
    </p>


  </div>
</ons-page>

